
*{
    font-family: 'Inter', sans-serif;
}
.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 1%;
  background-color: #ce1052;
  border-radius: 3px;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navbar a:hover {
  background-color: black;
  color: white;
}
.typing-container {
        height: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        padding: 1.5rem;
        border-right: 2px solid;
        animation: blink 1s infinite;
        color: #ce1052;
        font-size: 45px;
        font-weight: 700;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    @keyframes erasing {
        from { width: 100% }
        to { width: 0 }
    }

    @keyframes blink {
        50% { border-color: transparent }
    }
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    /* Container for the two halves */
    .split-container {
        display: flex;
    }

    /* Style for the left and right halves */
    .left-half, .right-half {
        flex: 1; /* Each half takes up half of the container */
        padding: 20px;
    }

    /* Style for the left half */
    .left-half {
        background: #fff; /* Light gray background */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Style for the right half */
    .right-half {
        background: #fff; /* White background */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-container {
        width: 100%;
    }

    .form-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /* Allow items to wrap on smaller screens */
        margin-bottom: 10px;
    }

    .form-row div {
        flex: 1;
        margin-right: 10px; /* Minimum width for inputs to prevent overlap */
    }

    .form-row div:last-child {
        margin-right: 0;
    }

    .inline-checkbox {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    .container-input{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .form-submit{
        display: flex;
        justify-content: center;
    }
    @media screen and (max-width: 768px) {
        .form-row {
            flex-direction: column; /* Stack the inputs vertically on small screens */
        }

        .form-row div {
            margin-right: 0;
            margin-bottom: 10px; /* Add bottom margin for vertical layout */
        }

        .inline-checkbox {
            margin-bottom: 10px; /* Space between checkbox rows in vertical layout */
        }
    }

    input, textarea,select,.return {
        padding: 6px;
        margin: 6px 0;
        border-radius: 5px;
        width: 30%;
        border: 1px solid #ccc;
    }
    input[type=submit],.return {
        background-color: #ce1052;
        color: white;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #ae0d46;
    }
    .return{
        text-decoration: none;
    }